body{
<<<<<<< HEAD
	background-color:#C4C4C4;
}

section{
	color: white;
	margin: 1% 30% ;
	padding: 2% 5%;
	width: 30%;
	background-color: #474747;
	box-shadow: 0px 0px 30px #333333;
	border-radius: 12px;
    -webkit-box-shadow: 0px 0px 5px #000;
    -moz-box-shadow: 0px 0px 10px #000;
    font-family: "Trebuchet MS",Tahoma,Verdana;
    text-shadow: 1px 1px 1px rgba(255,255,255, .22);
    text-align: center;
}

 .form_item{
	margin: 5px;
	padding: 5px;
	
}

.form_button{
  margin: 5px;
  padding: 3px 25px;
  font-size: 14px;
  cursor: pointer;
  color: #515151;
  background: #a5cd4e;
  background: -moz-linear-gradient(center top,rgba(
        255, 255, 255, .2) 0%, rgba(255, 255, 255, .1) 100% ); 
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(
        255, 255, 255, .2)), to(rgba(255, 255, 255, .1)));
  background: -o-gradient(linear, left top, left bottom, from(rgba(
        255, 255, 255, .2)), to(rgba(255, 255, 255, .1)));    
  box-shadow: 0px 0px 5px #000;
  -webkit-box-shadow: 0px 0px 5px #000;
  -moz-box-shadow: 0px 0px 5px #000;
  -o-box-shadow: 0px 0px 5px #000; 
  border-radius: 12px;
  text-align: center;
  text-decoration: none;
  font: bold 13	px/25px Arial, sans-serif; 
  text-shadow: 1px 1px 1px rgba(255,255,255, .22); 
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px; 
  -webkit-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
  -moz-box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44);
  box-shadow: 1px 1px 1px rgba(0,0,0, .29), inset 1px 1px 1px rgba(255,255,255, .44); 
  background: #d3d3d3; /* Old browsers */
  background: -moz-linear-gradient(top,  #d3d3d3 0%, #8a8a8a 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d3d3d3), color-stop(100%,#8a8a8a)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* IE10+ */
  background: linear-gradient(top,  #d3d3d3 0%,#8a8a8a 100%); /* W3C */
}

.form_button:hover{
    box-shadow: 0px 0px 5px #000;
    -webkit-box-shadow: 0px 0px 2px #000;
    -moz-box-shadow: 0px 0px 2px #000;
    -o-box-shadow: 0px 0px 5px #000;
}
=======
	color:black;
	text-decoration: none;
	//dfdfdfdf
	
}
>>>>>>> 37f736e47ee64cd21188784b5360fc44f05b7ed3
